<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission09_cl464</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <!-- HERE IS MY EXTRA BOOTSTRAP - added flex box to display 2 links on same line -->
    <div class="bg-dark text-white d-flex justify-content-between">
        <a class="p-3 text-white">Bookstore</a>
        <a asp-page="/Purchase" class="p-3 text-white">View Cart</a>
    </div>

    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <vc:categories></vc:categories>
        </div>

        <div class="container col-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
