<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- HERE IS MY EXTRA BOOTSTRAP -->
    <div class="bg-dark text-white d-flex justify-content-between">
        <a asp-page="/" class="p-3 text-white">Bookstore</a>
        <a class="p-3 text-white">View Cart</a>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
