@page
@model Mission09_cl464.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase.</h2>
    <h4>Your order should arrive by the end of the day.</h4>
    <a asp-page="/" class="btn btn-primary">Return home</a>
</div>

